{% extends 'temp/Admin home page.html' %}
{% block base %}
    <h3><b>VIEW MISSING CHILD CASE</b></h3>
<div class="container">
<table align="center" class="table table-bordered text-center">
	<tr>
		<td>Name</td>
		<td>Location</td>
		<td>Phone</td>
		<td>Image</td>
		<td>Status</td>
        <td>Verification</td>
	</tr>
    {% for x in obval1 %}
	<tr>
		<td>{{ x.name }}</td>
		<td>{{ x.location }}</td>
		<td>{{ x.phone_number }}</td>
		<td><img src="/static/{{ x.image }}" height="15%" width="15%"></td>
		<td>{{ x.status }}</td>
        <td>{{ x.Verification }}</td>
	</tr>
     {% endfor %}
</table>
</div>
{% endblock %}