{#{% extends 'temp/User home page.html' %}#}
{#{% block base %}#}
<html>
{#<body style="background-color: #007aff"><#}
<h1>
        <b>Register Missing Case</b>
	</h1>
    <form method="post">
        {% csrf_token %}
	<table class="">
		<tr>
			<td>
				Case Name :
			</td>
			<td>
				<input type="text" name="missingname" required="">
			</td>
		</tr>
		<tr>
			<td>
				Location :
			</td>
			<td>
				<input type="text" name="missinglocation" required="">
			</td>
		</tr>
		<tr>
			<td>
				Phone :
			</td>
			<td>
				<input type="tel" name="missingphone" required="">
			</td>
		</tr>
		<tr>
			<td>
				Image :
			</td>
			<td>
				<input type="file" name="missingimage" required="">
			</td>

		</tr>
	</table>

    <input type="submit" name="submit" class="btn btn-success">
        </form>
</center>
{#</body>#}
{#{% endblock %}#}
</html>