{% extends 'temp/Police Station home page.html' %}
{% block base %}
    <h3><b>VIEW CHILD LOCATION</b></h3>
    <div class="container">
<table align="center" class="table table-bordered text-center">
	<tr>
		<td>Mis_id</td>
		<td>Location</td>
		<td>Date</td>
		<td>Time</td>
        <td>Status</td>
	</tr>
    {% for x in obval1 %}
	<tr>
		<td>{{ x.mi_id}}</td>
		<td>{{ x.location }}</td>
		<td>{{ x.date }}</td>
		<td>{{ x.time }}</td>
        <td>{{ x.status }}</td>
	</tr>
     {% endfor %}
</table>
</div>
{% endblock %}